body {
  background: linear-gradient(45deg, #eeaeca, #94bbe9);
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  padding: 5px;
  position: relative;
}
table {
  width: 100%;
  /* border-collapse: collapse; */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  width: 7%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
th {
  text-align: left;
}
thead {
  th {
    background-color:#55608f;
  }
}
.table_time_header th{
  background-color: #111b49;
  height: 80px;
  font-size:30px;
  text-align: center; /* Horizontal centering */
  vertical-align: middle; /* Vertical centering */
}
.table_time_header {
  justify-items: center;
}
tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: relative;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }
  }
}
.button {
  background-color: skyblue;
  color: purple;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
}
.schedule{
  border-collapse: collapse;
  opacity: 1;
  transition: opacity 1s ease;
}

.calendar{
  font-size: 30px;
}
